@import './mixins/label.scss';
@import './mixins/button.scss';

.bar {
  all: unset;
  @include label;
  background: transparentize($bg, 0.95);
  -gtk-icon-size: 14.5px;

  .workspaces {
    margin-left: 1px;
    padding-left: 10px;
    margin-top: 11px;
    margin-bottom: 11px;

    .wlabel {
      all: unset;
      background-color: transparentize($fg, .8);
      color: transparent;
      opacity: 0.9;

      margin-left: calc($spacing / 4);
      min-height: 6pt;
      min-width: 6pt;
      border-radius: 10px;
      font-size: 0px;
      transition: 200ms;
    }

    .active {
      background: $active-gradient;
      min-width: 20pt;
    }

    .occupied {
      background-color: transparentize($fg, .2);
    }
  }

  .datemenu_button {
    button {
      all: unset;
      @include button($flat: true, $focusable: false);
      @include label;
      padding: 0px 5px 0px 5px;
      font-weight: 600;
      font-size: 9.7pt;
      margin: 2px;
    }
  }

  .quicksettings_button {
    margin-right: 10px;

    button {
      all: unset;
      @include button($flat: true, $focusable: false);
      @include label;
      padding: 0px 5px 0px 5px;
      font-weight: 600;
      font-size: 9.7pt;
      margin: 2px;
    }
  }
}