* {
    all: unset;
}

.status-bar0 {
    all: unset;
    background: #1e1e1e;
    opacity: 0.7;
    min-height: 30px;
}

.workspaces {
    .w_label {
        background-color: #404040;
        opacity: 0.9;
        transition: 200ms;
        background-image: none;
        color: transparent;
        min-width: 9px;
        border-radius: 10px;
        font-size: 0px;
        margin: 11px 3px 11px 3px;
    }

    .active {
        background-color: #f9aef8;
        min-width: 30px;
        background-image: none;
    }

    .occupied {
        background: #999999;
    }
}
