@import '../variables.scss';
@import '../mixins/button.scss';

.status-bar {
    all:unset;
    label {
        font-family: Ubuntu Nerd Font Regular;
    }
    background: transparentize($bg, 0.95);
    margin-bottom: 1pt;
    min-height: 30px;

    @if $floating {
        margin: 10px;
        border-radius: $radius;
    }

    .workspaces {
        margin-left: 1px;
        padding-left: 10px;
        .w_label {
            all:unset;
            background-color: transparentize($fg, .8);
            color: transparent;
            opacity: 0.9;

            margin-left: $spacing/4;
            min-height: 6pt;
            min-width: 6pt;
            border-radius: 10px;
            font-size: 0px;
            transition: 200ms;
        }

        .active {
            background-image: $active-gradient;
            min-width: 20pt;
        }

        .occupied {
            background-color: transparentize($fg, .2);
        }
    }

    .active-apps {
        all: unset;
        .active-app-label {
            font-weight: 550;
            margin-left: 10px;
        }
    }

    .datemenu_button {
        @include button($flat: true, $focusable: false);
        all: unset;
        border-radius: 8px;
        margin: 2px;

        label {
            margin-left: 5px;
            margin-right: 5px;
        }

        font-family: Ubuntu Nerd Font Regular;
        font-weight: bold;
        font-size: 9pt;
    }

    .indicators_button {
        all:unset;
        @include button($flat: true, $focusable: false);
        margin: 2px;
        .indicators_bar {
            margin-left: 10px;
            margin-right: 10px;
            label {
                font-family: Ubuntu Nerd Font Regular;
                font-weight: bold;
                font-size: 9pt;
            }
        }
    }

    .quicksettings_button {
        @include button($flat: true, $focusable: false);
        all: unset;
        margin: 2px;
        border-radius: 8px;
        padding-left: 5pt;
        padding-right: 5pt;
        font-family: Ubuntu Nerd Font Regular;
        font-weight: bold;
        font-size: 9pt;
    }
}
