@import '../mixins/button.scss';
@import '../mixins/widget.scss';
@import '../mixins/floating-widget.scss';

@mixin calendar {
    @include widget;
    all: unset;
    padding: $padding*2 $padding*2 0;
    font-size: 0.9em;
    padding: .2em;

    header {
        background-color: transparent;
        border: none;
        color: transparentize($fg, 0.5);

        button {

        }
    }
}

.datemenu {
    all: unset;
    margin-bottom: 10px;
    margin-top: 10px;
    background: $bg;
    transition: 500ms;

    contents {
        all: unset;
    }

    .datemenu_content {
        all: unset;
        border-radius: 5px;
        padding: 10px;
        background: $widget-bg;
        min-height: 210px;
        min-width: 210px;

        calendar {
            @include calendar;
        }
    }
}
